blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.2
mpmath==1.3.0
numpy==1.24.0  # Uma versão anterior conhecida por ser estável
scipy==1.10.1  # Uma versão anterior para garantir compatibilidade
sympy==1.12  # Uma versão anterior para evitar possíveis bugs em versões mais recentes
Werkzeug==3.0.0
gunicorn==20.1.0
antlr4-python3-runtime==4.11.1
latex2sympy==1.0.3


